/* .admin{
    display: flex;


}
.dashboard{
    width:45%;
    display:flex;
    flex-direction:column;

    
} */
.admin-layout {
    display: flex;
    height:80vh;
  }
  
  .sidebar { 
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 250px;
    background-color: black;
    padding: 20px;
    list-style: none;

  }
  .sidebar nav a{
   
    text-decoration: none;
    color: white;
  }
  .content {
    flex: 1;
    padding: 20px;
  }
  .first{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20rem;
  }
  